:root {
  --color-blue: #1f5987;
  --color-yellow: #f3cc10;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  transition: 0.3s;
}

a:hover {
  color: #808080;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: var(--color-blue);
}

.wrapper {
  min-width: 480px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .wrapper {
    min-width: 320px;
  }
}

.header {
  background-color: #000;
}

.container {
  min-width: 480px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    min-width: 310px;
    padding: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.title {
  font-size: 25px;
  line-height: 2;
}

.moves-table {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 480px) {
  .moves-table {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.game-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.game-table {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 470px;
  height: 470px;
  margin: auto 0;
  background-color: var(--color-yellow);
}

@media (max-width: 480px) {
  .game-table {
    width: 310px;
    height: 310px;
  }
}

.game-table__game-cell {
  width: 150px;
  height: 150px;
  padding: 20px;
  background-color: var(--color-blue);
}

@media (max-width: 480px) {
  .game-table__game-cell {
    width: 100px;
    height: 100px;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

@media (max-width: 480px) {
  .options {
    padding: 20px 0;
  }
}

.button {
  font-size: 20px;
  color: #fff;
  border: 2px solid #000;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.records-button,
.sound-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.records-button {
  background-image: url("../assets/svg/records.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(0deg) brightness(110%) contrast(101%);
}

.records-button:hover {
  filter: invert(83%) sepia(44%) saturate(771%) hue-rotate(354deg) brightness(89%) contrast(117%);
}

.new-game-button {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 50px;
  border-color: #fff;
  border-radius: 50px;
}

.new-game-button:hover {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.sound-button {
  background-image: url("../assets/svg/sound-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(0deg) brightness(110%) contrast(101%);
}

.sound-button:hover {
  filter: invert(83%) sepia(44%) saturate(771%) hue-rotate(354deg) brightness(89%) contrast(117%);
}

.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

@media (max-width: 480px) {
  .footer__container {
    padding: 5px 10px;
  }
}

.footer__copyright {
  display: flex;
  line-height: 2.5;
  gap: 20px;
}

.rsschool__img {
  height: 30px;
  transition: 0.3s;
  fill: #fff;
}

.rsschool__img:hover {
  fill: #808080;
}

.x-figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.x-line-top {
  position: absolute;
  display: block;
  border: 3px solid var(--color-yellow);
  background-color: var(--color-yellow);
  transform: rotate(45deg);
  transform-origin: left;
  animation-name: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.x-line-bottom {
  position: absolute;
  bottom: 0;
  display: block;
  border: 3px solid var(--color-yellow);
  background-color: var(--color-yellow);
  transform: rotate(-45deg);
  transform-origin: left;
  animation-name: expand;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  0% {
    width: 0
  }
  100% {
    width: 150px
  }
}

@media (max-width: 480px) {
  @keyframes expand {
    0% {
      width: 0
    }
    100% {
      width: 77px
    }
  }
}

.o-figure {
  width: 100%;
  height: 100%;
  border: 6px solid var(--color-yellow);
  border-radius: 50%;
  animation-name: appearance;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 480px;
  opacity: 0.7;
  background-color: #000;
}

@media (max-width: 480px) {
  .cover {
    min-width: 320px;
  }
}

.show-winner,
.show-records {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 480px;
}

@media (max-width: 480px) {
  .show-winner,
  .show-records {
    min-width: 320px;
  }
}

.winner-plate,
.records-plate {
  padding: 20px 40px;
  text-align: center;
  border: 3px solid #fff;
  background-color: var(--color-blue);
}

@media (max-width: 480px) {
  .records-plate {
    min-width: 310px;
    margin: 5px;
    padding: 10px;
  }
}

.winner-title,
.records-title {
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-yellow);
}

.deactive {
  display: none;
}

.records-table {
  width: 100%;
  min-width: 400px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media (max-width: 480px) {
  .records-table {
    min-width: 280px;
    padding-bottom: 10px;
    font-size: 15px;
  }
}

.table-number,
.table-date,
.table-winner,
.table-moves {
  width: 35%;
  border-bottom: 1px solid #fff;
}

.table-moves {
  width: 20%;
}

.table-number {
  width: 10%;
}